<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quisquam, quia vero id asperiores nostrum sapiente aliquid, voluptates pariatur nesciunt earum cumque quaerat ipsum. Porro, iure commodi repudiandae deserunt, sed odio dolore necessitatibus, sunt voluptatum repellat sit. Reiciendis, perferendis velit. Mollitia aliquid eligendi ratione. Exercitationem quas blanditiis voluptates numquam in?</p>
<%- include("footer") -%>